@charset "utf-8";

header {
  background-color: #ffd7dc;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
}

#logo {
  display: flex;
  /* background-color: white; */
  margin-top: 0rem;
  margin-bottom: 0;
  padding: 0;
}
#logo img{
  height: 5rem;
}

nav {
  width: 100%;
  margin-top: -2rem;
  padding: 0;
  /* background-color: yellow; */
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  list-style-position: outside;
  width: 100%;
  padding: 0;
}
nav ul li{
  display: block;
  text-align: center;
  width: 6rem;
  min-width: 5rem;
  max-width: 8rem;
  padding: 0 1%;
}
nav ul li:last-child{
  margin-right: 0;
}
nav ul li a{
  display: block;
  border-style: none none solid;
  border-color: gray;
  font-family: "tsukushi B round Gothic", "Yu Gothic", serif;
  font-size: 1rem;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: gray;
  color: white;
  transition-property: all;
  transition-duration: 300ms;
}
