a {
  text-decoration: none;
  color: black;
}

.arrowlink a {
  color: var(--arrowlink_color);
  text-decoration: none;
} .arrowlink a::after {
  content: var(--arrow);
} .arrowlink a:hover {
  text-decoration: underline;
}

.boxlink {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
  background-color: var(--boxlink_color);
} .boxlink a {
  color: black;
} .boxlink a::after {
  content: var(--arrow);
} .boxlink:hover{
  background-color: var(--boxlink_color_hover);
  transition-property: all;
  transition-duration: 500ms;
}



.articlelink {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  padding: 0.5rem 0.5rem 0;
  background-color: lavender;
  /* border: 0.2rem solid lightsteelblue; */
}
.articlelink article {
  width: 15rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
  /* padding-bottom: 0.3rem; */
  /* background-color: rgb(242, 216, 193); */
}
.articlelink article:not(:last-child) {
  margin-right: 1rem;
}
.articlelink article img {
  width: 100%;
}
.articlename {
  display: none;

  margin: 0.2rem;
  text-align: center;
  font-family: sans-serif;
}
.articlelink a:hover {
  opacity: 0.5;
  transition-property: all;
  transition-duration: 500ms;
}






.articlecard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(10px, 1rem, 50px);
}
@media (min-width: 768px) {
  .articlecard-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.articlecard__item img {
  width: 100%;
  border-radius: 1rem;
}
.articlecard__item a:hover {
  transition: 0.5s all;
}
.articlecard__item a:hover img{
  transform: scale(1.1, 1.1);
}





.arrow_articlelink {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
.arrow_articlelink>img {
  /* width: 5rem; */
  max-width: 5rem;
  margin-right: 0.5rem;
}
.arrow_articlelink a {
  max-width: 15rem;
}
.arrow_articlelink a>img {
  width: 100%;
}