a {
  text-decoration: none;
  color: black;
}

.link a {
  color: var(--link_color);
  text-decoration: none;
} .link a::after {
  content: var(--arrow);
} .link a:hover {
  text-decoration: underline;
}

.blocklink {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
  background-color: var(--blocklink_color);
} .blocklink a {
  color: black;
} .blocklink a::after {
  content: var(--arrow);
} .blocklink:hover{
  background-color: var(--blocklink_color_hover);
  transition-property: all;
  transition-duration: 500ms;
}



.articlelink {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  padding: 0.5rem 0.5rem 0;
  background-color: lavender;
  /* border: 0.2rem solid lightsteelblue; */
}
.articlelink article {
  width: 15rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
}
.articlelink article:not(:last-child) {
  margin-right: 1rem;
}
.articlelink article img {
  width: 100%;
}
.articlename {
  display: none;

  margin: 0.2rem;
  text-align: center;
  font-family: sans-serif;
}
.articlelink a:hover {
  opacity: 0.5;
  transition-property: all;
  transition-duration: 500ms;
}




.arrow_articlelink {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
.arrow_articlelink > img {
  max-width: 5rem;
  margin-right: 0.5rem;
}
.arrow_articlelink a {
  max-width: 15rem;
}
.arrow_articlelink a > img {
  width: 100%;
}