@charset "utf-8";
@import "header.css";

html {
    font-size: 0.5cm;
}
body {
    font-family: "TsukuBRdGothic-Regular", "Hiragino Sans W1", sans-serif;
    color: black;
}

h1 {
    font-family: "TsukuBRdGothic-Bold", "Hiragino Sans W5";
    font-weight: bold;
    border-bottom: 0.3rem solid skyblue;
}

h2 {
    font-family: "TsukuBRdGothic-Bold", "Hiragino Sans W5";
    background-color: rgb(255, 168, 188);
    width: 80%;
    min-width: 15em;
} h2::before {
    content: "　";
}

em {
    font-family: "TsukuBRdGothic-Bold", "Hiragino Sans W5";
    font-style: normal;
    font-weight: bold;
} em::before {
    content: " ";
} em::after {
    content: " ";
}

a {
    text-decoration: none;
    color: black;
}

.arrowlink {
    font-weight: bold;
    text-align: right;
    margin-right: 2rem;
} .arrowlink a {
    color: rgb(0, 85, 255);
    text-decoration: underline;
} .arrowlink a::before {
    content: "→";
} .arrowlink a:hover {
    text-decoration: none;
}

.boxlink {
    text-align: right;
}
.boxlink div{
    display: block;
    margin-right: 2rem;
    /* padding:1rem, 0; */
    background-color: skyblue;
    color: black;
}


main {
    padding: 0.5rem;
    background-color:lightgoldenrodyellow;
}

footer {
    padding: 0;
    background-color: lightgray;
    color: gray;
}

#copyright {
    margin-right: 1rem;
    text-align: right;
}
