@charset "utf-8";
@import "header.css";

:root {
    --h2_color: rgb(255, 168, 188);
    --arrowlink_color: rgb(0, 85, 255);
    --boxlink_color: rgb(155, 215, 239);
    --boxlink_color_hover: rgb(194, 233, 249);

    --arrow: "→";
    --font_r: "TsukuBRdGothic-Regular", "Hiragino Sans W1", "Hiragino Sans W3", "Hiragino Maru Gothic ProN", "YuGothic Medium", sans-serif;
    --font_b: "TsukuBRdGothic-Bold", "Hiragino Sans W3", "YuGothic Medium", sans-serif;
    --font_sans: "Sawarabi Gothic", sans-serif;
    --font_serif: "Sawarabi Mincho", serif;
}

html {
    font-size: 62.5％;
}
body {
    /* font-size: clamp(16px, 10vw, 22px); */
    /* font-size: max(16px, min(10vw, 24px)); */
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-family: var(--font_sans);
    color: black;
}
main {
    padding: 0.5rem;
    background-color:lightgoldenrodyellow;
}
footer {
    padding: 0;
    background-color: lightgray;
    color: gray;
}

#copyright {
    margin-right: 1rem;
    text-align: right;
}

h1 {
    border-bottom: 0.3rem solid skyblue;
    font-weight: normal;
}
h2 {
    background-color: var(--h2_color);
    width: 90%;
    min-width: min(22em, 100%);
    font-weight: normal;
}
h3 {
    font-weight: normal;
}

em {
    font-style: normal;
    font-weight: bold;
} em::before {
    content: " ";
} em::after {
    content: " ";
}

code {
    font-family: "Courier", sans-serif;
} code::before {
    content: " ";
} code::after {
    content: " ";
}

a {
    text-decoration: none;
    color: black;
}

.arrowlink {
} .arrowlink a {
    color: var(--arrowlink_color);
    text-decoration: underline;
} .arrowlink a::after {
    content: var(--arrow);
} .arrowlink a:hover {
    text-decoration: none;
}

.boxlink {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    background-color: var(--boxlink_color);
} .boxlink a {
    color: black;
} .boxlink a::after {
    content: var(--arrow);
} .boxlink:hover{
    background-color: var(--boxlink_color_hover);
    transition-property: all;
    transition-duration: 500ms;
}
