@charset "utf-8";

html {
    font-size: 0.5cm;
}

body {
    font-family: 'Klee', 'Tsukushi B Round Gothic', 'YuGothic', sans-serif;
    color: black;
}
header {
    margin: 0;
    padding: 0.5rem;
    background-color: #ffd7dc;
    font-size: 2rem;
    text-align: center;
}
main {
    background-color:lightgoldenrodyellow;
}
footer {
    background-color: lightgray;
    color: gray;
}


#logo {
    /* background-color: white; */
    margin-top: 0;
    margin-bottom: -1rem;
    padding: 0;
}
#logo img{
    width: 7em;
    max-width: 100%;
}