@charset "utf-8";

#news article h2:hover {
    background-color: rgb(251, 215, 223);
    /* opacity: 0.5; */
    transition-property: all;
    transition-duration: 500ms;
}



/* .img {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
.img img {
    margin: 0;
    width: 70%;
    max-width: 40rem;
    min-width: min(30rem, 100%);
} */

#hero {
    text-align: center;
    margin-bottom: 2rem;
}
#hero img {
    margin: 0;
    width: 100%;
    max-width: 40rem;
    /* min-width: 100%; */
}
#hero img:hover {
    opacity: 0.5;
    transition-property: all;
    transition-duration: 500ms;
}